<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGrid</title>
</head>
<body>
    <a href="/admin">Voltar</a>
    <h1>METAS  - Gerenciamento de Conteúdo</h1>
    <h3>METAS - Adicionar</h3>
    <form action="" method="post">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="" required><br>
        <label for="texto">Texto:</label>
        <textarea name="texto" id="" cols="30" rows="10"required></textarea><br>
        <input type="submit" value="Gravar">
    </form>
    <h3>METAS - Listar</h3>
    <table>
        <tr>
            <th>Títulos</th>
            <th>Texto</th>
        </tr>
        <!--Inserir um loop para exibição da JSON mygrid-->
        <% for (var n=0; n<dados.length; n++){%>
        <tr>
            <td><%=dados[n].titulo%></td>
            <td><%=dados[n].texto%></td>
        </tr>
        <%}%>
        <!--Fim do loop-->
        
    </table>
</body>
</html>